In [ ]:
# !pip3 install textblob

In [3]:
from opensearchpy import OpenSearch, RequestsHttpConnection, AWSV4SignerAuth
import boto3
import pandas as pd
import numpy as np
import requests
from requests_aws4auth import AWS4Auth
from requests.auth import HTTPBasicAuth
import os
from botocore.config import Config
import json
import time as t
from textblob import TextBlob

In [26]:
AWS_ACCESS_KEY_ID="ASIAXYKJWW5VB2WNSVMF"
AWS_SECRET_ACCESS_KEY="fy8OfVVrX3TYDbQkj9OvXFP5SdurnjSUM3TyW2fX"
AWS_SESSION_TOKEN="IQoJb3JpZ2luX2VjEP7//////////wEaCXVzLWVhc3QtMSJGMEQCICxK+rre4/HLayD5CCUNAGkEpQPNaQDZr/e+PGGGx65tAiBNY0kHywEQxmm9PEWYuh+yJkWk0eYdetlOaLxha1y1TCqbAwjX//////////8BEAAaDDUzMzI2NzM5NjQ1OCIMC7DnP/oHRfMLwjKoKu8CHbeB/7a15Cd87+LxvL2WXOpAPr1KeRdVdSaPHzFRMUkl6e6z1Fr+fThmUrso4iWPlr6pA1tm7ZuSPtZWeWxclhSxPBcog1rEPC1smTjZSETyXWXZFUaVsEU6CVKE7jJwbjKC7+nI7EqAwnJDe8eBVy0tl46NBF1SUmLBv0mys+c50agygdu3Mt7/+9oG5vNSGEp8b4iVhhuHbc1czkXaN4ujJXKbLmCgccmtKsDo9Et7gtVGI9u77kKcOcHuYWpM0s75gqeIeLhqlBq4N6bdzydSKhXju5/8gnFls/+3eeINRx1wpd1nOyGHyZfbe3XKFbO7xdl8LM2i6r2RJwzIKFxe4FTfW0kBfVWo71Xo5c1Rbj3+SEIYb4yJRvjrP14cCWWrPsiKPNeCKZioaR7s4jpxM0j0r0jMZinYyUCqvwCYukt7xJfnRa4E7ejW+efn1vN/UpzGU9RCuOshr91II3bBUWWh8gGOti7UijMzPjCnxo61BjqnAd3NLLe3EdSs3wD0cLC5Q4rm0pX+cJF709txcS5ajfZlvz1xRL+1w1/ziOz39fgJqZmhepvTJ1GCsPpKe7RXIQq6AvyOjx0smBs/mU+PLZJopVFs/2IFUy11+NklguGKTlXeYbZVtFqCf/0WcCDhF0g3AxGhZAxcBjkzBKRPnf4j055RUIq51fX1431theh5OZtoCvLeu0OvFdPd+uqAfpy06b2HqoDT"

In [27]:
reg = "us-east-1"
session_kwargs = {"region_name":reg} 
client_kwargs = {**session_kwargs}
# AccessKeyId =  "ASIAXYKJWW5VMOCA6WBD"
# SecretAccessKey = "plKHohjvZ47nqaTrNC+kEhlWDskffT4NyAQO65OC"
# SessionToken = "IQoJb3JpZ2luX2VjEMb//////////wEaCXVzLWVhc3QtMSJGMEQCIGQihzmlHzU2oR6Etk2VIDs+c0OPu3fK+Vru+gxq51yqAiAqk6wA3Ql4LkJS3LpQ8pU0HE8zo+he2ChbimGru7K0/iqbAwie//////////8BEAAaDDUzMzI2NzM5NjQ1OCIMPKmD8Z+itzpv1WYZKu8C89O71MJMHke9zBs+2jiLGkecknwBBmwD+hVr+EIXEi/V6usMm7MK/C2s3QSTUiMhzW+F7Miai488hkAwujKNFncvBEcUKloUdC9kRqs2sPw9EbJ1Erro+ofD0rnj6Dv6Gs83gGQ6uNF9sdbh6evNtBr2WcSvd6G7Q2pFAdL09HVs9f6XFPbhjB4J1NKTUU+YZ0gAQwzZkwJ5e/hHahnypGKyJuLGmNdW3ijftTNjnb1sGIfcGXiaCnfe3SbpOtTaTa5nfNxIrinlL1Jx6LRZgzL18skruISwkz/dxUFLKqTQKtqBXn4dmdmBit9BRopLG/wVJMdM9N00Z9La2AnaOJfYWEn5jRVMLly0F1rEfGNI84kAJh+j1pW8eQwEPGiesekacwTaTjAAKuAG6ovSoMKWUXZ4JUItTLWrq5mfI+hzvMIyL4miwupYaY9++9IwXvvvRiG4THd7LFoDHZsF6Xp3eAFvwfYonovGi5op8zDdnYK1BjqnAX63Y5k0bxH8IQTzsZNyzx7c2TfcY+7b7FsoTwztf1pJWQ344y8eu84JBmRKdaQ5N5sWhc6lIAcl1ZSA/QcjzlNJy9/BlSoCPv8DnKq6BKS3a9FuaPjz0uJb9RyaoAK6CVo3HHUxUYvoIiLzdl1lBDMfeaKZdW2V4Cj7sJ2ggcuK/dJ9CBM2dYiY+KALF4laqpm7gbfp963l41Y6VN8sobFLiICF1Cav"
client_kwargs["aws_access_key_id"] = AWS_ACCESS_KEY_ID
client_kwargs["aws_secret_access_key"] = AWS_SECRET_ACCESS_KEY
client_kwargs["aws_session_token"] = AWS_SESSION_TOKEN

In [6]:
host = "localhost"
#host = "vpc-autocoding-poc-bcsbo7jptehmmcbyw4v5gncy3a.us-east-1.es.amazonaws.com"
ser  = "es"
# cred = sess.get_credentials()
# auth = AWSV4SignerAuth(cred, reg, ser)
# auth = HTTPBasicAuth(cred)
# port = 443
# base_uri = f"bedrock.{reg}.amazonaws.com"
auth = ('admin', 'admin')  
#aws4Auth = AWS4Auth(AccessKeyId, SecretAccessKey, reg, ser, SessionToken)

In [ ]:
# sess = boto3.Session(**session_kwargs)
# sess

In [ ]:
# sts = sess.client("sts")
# sts

In [ ]:
# kms = boto3.client('secretsmanager', region_name = reg)
# kms

In [ ]:
# secretId = "arn:aws:es:us-east-1:533267396458:domain/autocoding-poc"

In [ ]:
# kms.get_secret_value(SecretId = SecretAccessKey)

In [ ]:
# kms = boto3.client('secretsmanager', region_name = reg)
# kms

In [ ]:
# boto3.Session()

In [7]:
#client = OpenSearch(hosts = [{'host':'localhost', 'port': 9200}], http_auth = auth, use_ssl = True, verify_certs = False, connection_clas = RequestsHttpConnection, pool_maxsize = 20)
client = OpenSearch(hosts = [{'host':'localhost', 'port': 9200}], http_auth = auth, use_ssl = False, verify_certs = False)

In [8]:
# client.info()

In [9]:
index_name = "test"

In [13]:
index_body = {
    'settings': {
        'number_of_shards': 1,
        'number_of_replicas': 0,
        'index.knn': True,
        'index.knn.space_type' : "cosinesimil"
    },
    'mappings': {
        'properties': {
            'English Reported': {'type': 'text',"store": True},
            'English Coded LLT': {'type': 'text',"store": True},
            'English Coded PT': {'type': 'text',"store": True},
            'Count': {'type': 'integer', "store": True},
            'Embeddings LLT': {
                'type': 'knn_vector',
                'dimension': 512,
                "store": True
            }
        }
    }
}

In [14]:
# s = t.time()
# res = client.indices.create(index=index_name, body=index_body)
# print(t.time()-s)

In [15]:
# response = client.indices.delete(
#     index = 'test'
# )

In [16]:
client.indices.get(index="test")

{'test': {'aliases': {},
  'mappings': {'properties': {'Count': {'type': 'integer', 'store': True},
    'Embeddings LLT': {'type': 'knn_vector', 'store': True, 'dimension': 512},
    'English Coded LLT': {'type': 'text', 'store': True},
    'English Coded PT': {'type': 'text', 'store': True},
    'English Reported': {'type': 'text', 'store': True}}},
  'settings': {'index': {'replication': {'type': 'DOCUMENT'},
    'number_of_shards': '1',
    'provided_name': 'test',
    'knn.space_type': 'cosinesimil',
    'knn': 'true',
    'creation_date': '1721987068195',
    'number_of_replicas': '0',
    'uuid': 'It4ZmCzNTXiQ7N2BpQ4cFQ',
    'version': {'created': '136367827'}}}}}

In [96]:
def search(term, k, vec, index):
   
    query = {
      "size": k,
      "query": {
        "bool": {
          "should": [
            {
              "match": {
                "English Reported": term
              }
            },
            {
              "script_score": {
                "query": {
                  "match_all": {}
                },
                "script": {
                  "source": "knn_score",
                  "lang": "knn",
                  "params": {
                    "field": "Embeddings",
                    "query_value": vec,
                    "space_type": "cosinesimil" 
                    # "k": k
                  }
                }
              }
            }
          ]
        }
      }
    }
    
    
   
    ls_data = []
    res = client.search(index = index, body = query)
    hits = res.get('hits',{}).get('hits',[])
    max_score = res['hits']['max_score']
    for doc in hits:
        
        row = {"English Reported": doc['_source']['English Reported'], "English Coded LLT": doc['_source']['English Coded LLT'], "English Coded PT": doc['_source']['English Coded PT'], "score": doc['_score']}
        ls_data.append(row)
    df_match_data_res = pd.DataFrame(ls_data, columns = ["English Reported","English Coded LLT","English Coded PT","score"])
    
    df_match_data_res = df_match_data_res.drop_duplicates(['English Coded PT'])   
    df_match_data_res = df_match_data_res.astype({"score":float})
    #df_match_data_res = df_match_data_res.nlargest(5,"score")
    df_match_data_res['score'] = (df_match_data_res['score']/max_score)*95
    df_match_data_res['score'] = df_match_data_res['score'].apply(lambda x: float(x))
    df_match_data_res.reset_index(inplace=True)
    df_match_data_res.drop(['index'], inplace=True, axis=1)
    return df_match_data_res

In [ ]:
# def search_hybrid_temp(term, k, vec, index):
#     query1 = {
#         "size": k,
#         "query":{
#             "match":{
#                 "English Reported":{
#                     "query": term
#                 }
#             }
#         }
#     }
#     query2 = {
#         "size": k,
#         "query": {
#             "knn": {
#                 "Embeddings":{
#                     "vector":vec,
#                     "k":k
#                 }
#             }
#         }
#     }
#     ls_data = []
#     res1 = client.search(index = index, body = query1)
#     res2 = client.search(index = index, body = query2)
#     hits1 = res1.get('hits',{}).get('hits',[])
#     hits2 = res2.get('hits',{}).get('hits',[])
#     if res1['hits']['max_score'] == None:
#         max_score = res2['hits']['max_score']
#     else:
#         max_score = max(res1['hits']['max_score'], res2['hits']['max_score'])
#     for doc in hits1:
#         row = {"English Reported": doc['_source']['English Reported'], "English Coded LLT": doc['_source']['English Coded LLT'], "English Coded PT": doc['_source']['English Coded PT'], "score": doc['_score']}
#         ls_data.append(row)
#     for doc in hits2:
#         row = {"English Reported": doc['_source']['English Reported'], "English Coded LLT": doc['_source']['English Coded LLT'], "English Coded PT": doc['_source']['English Coded PT'], "score": doc['_score']}
#         ls_data.append(row)

#     df_match_data_res = pd.DataFrame(ls_data, columns = ["English Reported","English Coded LLT","English Coded PT","score"])
    
#     df_match_data_res = df_match_data_res.drop_duplicates(['English Coded PT'])   
#     df_match_data_res = df_match_data_res.astype({"score":float})
#     df_match_data_res=df_match_data_res.nlargest(k,"score")
#     df_match_data_res['score'] = (df_match_data_res['score']/max_score)*95
#     df_match_data_res['score'] = df_match_data_res['score'].apply(lambda x: float(x))
#     df_match_data_res.reset_index(inplace=True)
#     df_match_data_res.drop(['index'], inplace=True, axis=1)
#     return df_match_data_res

In [17]:
def search_hybrid(term, k, vec, index, threshold = 80.0):
    # implement 10 records filter
    # query1 = {
    #     "size": k,
    #     "query":{
    #         "multi_match":{
    #             "query": term,
    #             "type": "phrase",
    #             "fields": ['English Reported']
    #         }
    #     }  
    # }

    query1 = {
          "query": {
            "bool": {
                "must": [
                   {
                            "multi_match":{
                            "query": term,
                            "type": "phrase",
                            "fields": ['English Reported']
                        }
                    },
                    {
                      "range": {
                        "Count": {
                          "gte":2
                        }
                      }
                    } 
                ]
            }
          }
        }
    
    query2 = {
        "size": k,
        "query": {
            "knn": {
                "Embeddings LLT":{
                    "vector":vec,
                    "k":k
                }
            }
        }
    }
    ls_data = []
    res = client.search(index = index, body = query1) 
    # print(f"response: {res}")
    if res['hits']['total']['value'] == 0:
        print("Switching to semantic")
        res = client.search(index = index, body = query2)
    if res['hits']['total']['value'] == 0:
        df_match_data_res = pd.DataFrame(ls_data, columns = ["English Reported","English Coded LLT","English Coded PT","Count","Score"])
        return df_match_data_res   
    hits = res.get('hits',{}).get('hits',[])
    max_score = res['hits']['max_score']
    for doc in hits:
        llt = doc['_source']['English Coded LLT']
        print(f"LLT: {llt}")
        row = {"English Reported": doc['_source']['English Reported'], "English Coded LLT": doc['_source']['English Coded LLT'], "English Coded PT": doc['_source']['English Coded PT'], "Count": doc['_source']['Count'], "Score": doc['_score']}
        ls_data.append(row)
    
    df_match_data_res = pd.DataFrame(ls_data, columns = ["English Reported","English Coded LLT","English Coded PT","Count","Score"])
    df_match_data_res = df_match_data_res.drop_duplicates(['English Coded PT'])   
    df_match_data_res = df_match_data_res.astype({"Score":float})
    df_match_data_res=df_match_data_res.nlargest(k,"Score")
    df_match_data_res['Score'] = (df_match_data_res['Score']/max_score)*100
    df_match_data_res['Score'] = df_match_data_res['Score'].apply(lambda x: float(x))
    df_match_data_res.reset_index(inplace=True)
    df_match_data_res.drop(['index'], inplace=True, axis=1)
    df_match_data_res = df_match_data_res[df_match_data_res['Score']>threshold]
    return df_match_data_res

In [371]:
# def kickback(term, index, pt_code, cnt = 0):
#     query = {
#         "query":{
#             "multi_match":{
#                 "query": term,
#                 "type": "phrase",
#                 "fields": ['English Reported']
#             }
#         }
#     }
#     res = client.search(index = index, body = query)
#     hits = res.get('hits',{}).get('hits',[])  
#     if res['hits']['total']['value'] > 0:
#         print("updating")
#         for doc in hits:
#             id = doc['_id']
#             count = doc['_source']['Count']
#             count+=cnt
#             document = {"Count": count}
#             body = {"doc": document}
#             # res = client.update(index = index, id=id, body = body)
#             # print(res)
#     else:
#         print("New Index")
#         vec = embedding(term)
#         body = {
#             "English Reported" : term,
#             "English Coded LLT": term,
#             "English Coded PT":  pt_code,
#             "Count": 1,
#             "Embeddings LLT": vec
#         }
#         res = client.index(index=index, body=body)

In [31]:
if __name__ == '__main__':

    text = "faecal impaction"
    embds_query = embedding(text)
    output1 = search_hybrid(text,10, embds_query, 'test') 
    '''this will return the LLT term and search will go medra'''
    #output2 = kickback(text, 'test', 'Pain')

Switching to semantic
LLT: faecal impaction
LLT: abdominal adhesions
LLT: bowel obstruction
LLT: bowel obstruction
LLT: constipation
LLT: small bowel obstruction
LLT: small bowel obstruction
LLT: small bowel obstruction
LLT: spinal compression fracture
LLT: gastrointestinal malformation

In [32]:
output1

   English Reported English Coded LLT English Coded PT  Count  Score
0  faecal impaction  faecal impaction        faecaloma      1  100.0

In [ ]:
output2

In [28]:
def get_client(assumed_role = None, region = 'us-east-1', runtime = True, external_id = None, ep_url = None):
  
    retry_config = Config(region_name = region, retries = {
        "max_attempts": 10,
        "mode": "standard",
    },)

    sess = boto3.Session(**session_kwargs)
    
    service = 'bedrock-runtime'
    bedrock_client = sess.client(service_name=service,config=retry_config, **client_kwargs )
    return bedrock_client
boto3_client = get_client()

In [29]:
def embedding(data, model = "amazon.titan-embed-text-v2:0",region_name = 'us-east-1', dim = 512, norm = True):
    accept = "application/json"
    content_type = "application/json"
    body = json.dumps({
            "inputText": data,
            "dimensions": dim,
            "normalize": norm
        })
    res = boto3_client.invoke_model(body = body, modelId = model, accept = accept, contentType = content_type)
    res_body = json.loads(res.get('body').read())
    return res_body['embedding']

In [30]:
data_terms = pd.read_excel('/home/chitranshbose/Downloads/Data for MedDRA AutoCoding_EL.xlsx', sheet_name='Terms')

In [31]:
data_terms

,CASE_ID,SEQ_NUM,English Reported,English Coded LLT,English Coded PT,Japanese Reported,Japanese Coded LLT,Japanese Coded PT
0,10014401,10026601,ULCER LOWER EXTREMITY,Lower extremities ulcers of,Skin ulcer,皮膚潰瘍,下肢潰瘍,皮膚潰瘍
1,10014401,10026701,ANTERIOR ACUTE MYOCARDIAL INFARCTION,"Acute myocardial infarction, of other anterior...",Acute myocardial infarction,急性心筋梗塞,他の前壁急性心筋梗塞,急性心筋梗塞
2,10014401,10026801,CARDIOGENIC SHOCK,Cardiogenic shock,Cardiogenic shock,心原性ショック,心原性ショック,心原性ショック
3,10014401,10026901,VENTRICULAR FIBRILLATION,Ventricular fibrillation,Ventricular fibrillation,心室細動,心室細動,心室細動
4,10014401,10027001,THORACIC PAIN,Thoracic pain,Chest pain,胸痛,胸郭痛,胸痛
...,...,...,...,...,...,...,...,...
1047996,156859653,1936022,No adverse event,No adverse drug effect,No adverse event,有害事象なし,有害事象なし,有害事象なし
1047997,156859654,1,No adverse event,No adverse event,No adverse event,治療非遵守,有害事象なし,有害事象なし
1047998,156859655,1,peripheral leaking edema,Peripheral oedema,Oedema peripheral,末梢性浮腫,末梢性浮腫,末梢性浮腫
1047999,156859656,1,Potassium level was too high,Potassium high,Blood potassium increased,血中カリウム増加,カリウム高値,血中カリウム増加
1048000,156856496,1936015,severe nausea,Nausea,Nausea,嘔吐,悪心,悪心

In [33]:
data_ingest = data_terms[['English Reported', 'English Coded LLT','English Coded PT']].iloc[:500,:]

In [34]:
data_ingest = data_ingest.groupby(data_ingest.columns.tolist(), as_index=False).size()
data_ingest.rename(columns = {"size":"Count"}, inplace = True)

In [35]:
data_ingest

,English Reported,English Coded LLT,English Coded PT,Count
0,FEBRILE NEUTROPENIA,Febrile neutropenia,Febrile neutropenia,1
1,2 HYPOGLYCAEMIC ATTACKS,Hypoglycaemic attack,Hypoglycaemia,1
2,ABDOMINAL CONGENITAL ANOMALY,Gastrointestinal malformation,Gastrointestinal malformation,1
3,ABDOMINAL PAIN,Abdominal pain,Abdominal pain,4
4,ABNORMAL LIVER FUNCTION TESTS,Abnormal liver function tests,Liver function test abnormal,1
...,...,...,...,...
329,WORSENING MULTINODULAR GOITRE,Goiter nodular,Goitre,1
330,WORSENING OF DEPRESSION,Depression worsened,Depression,1
331,WORSENING OF OSTEOARTHRITIS LEFT KNEE,Knee osteoarthritis,Osteoarthritis,1
332,WORSENING OF OSTEOARTHRITIS OF LEFT KNEE,Knee osteoarthritis,Osteoarthritis,1
333,WORSENING OF PERIPHERAL VASCULAR DISEASE,Peripheral vascular disease NOS,Peripheral vascular disorder,1

In [37]:
s = t.time()
#data_ingest['Embeddings'] = data_ingest['English Reported'].apply(embedding)
data_ingest['Embeddings LLT'] = data_ingest['English Coded LLT'].apply(embedding)
print(t.time()-s)

233.6762981414795

In [38]:
data_ingest

,English Reported,English Coded LLT,English Coded PT,Count,Embeddings LLT
0,FEBRILE NEUTROPENIA,Febrile neutropenia,Febrile neutropenia,1,"[0.050580744, 0.00668912, 0.032804176, 0.00746..."
1,2 HYPOGLYCAEMIC ATTACKS,Hypoglycaemic attack,Hypoglycaemia,1,"[-0.05460434, 0.03961894, 0.045572042, -0.0177..."
2,ABDOMINAL CONGENITAL ANOMALY,Gastrointestinal malformation,Gastrointestinal malformation,1,"[-0.053280532, 0.0020785502, -0.06407593, 0.03..."
3,ABDOMINAL PAIN,Abdominal pain,Abdominal pain,4,"[-0.080634326, 0.009931789, 0.00062995567, 0.0..."
4,ABNORMAL LIVER FUNCTION TESTS,Abnormal liver function tests,Liver function test abnormal,1,"[0.007857432, -0.023434445, -0.034002922, 0.04..."
...,...,...,...,...,...
329,WORSENING MULTINODULAR GOITRE,Goiter nodular,Goitre,1,"[-0.05443895, 0.000880772, 0.053666763, -0.028..."
330,WORSENING OF DEPRESSION,Depression worsened,Depression,1,"[-0.07443913, 0.022265276, -0.04519519, 0.0724..."
331,WORSENING OF OSTEOARTHRITIS LEFT KNEE,Knee osteoarthritis,Osteoarthritis,1,"[-0.06750286, 0.03396238, 0.01371152, -0.02088..."
332,WORSENING OF OSTEOARTHRITIS OF LEFT KNEE,Knee osteoarthritis,Osteoarthritis,1,"[-0.06750286, 0.03396238, 0.01371152, -0.02088..."
333,WORSENING OF PERIPHERAL VASCULAR DISEASE,Peripheral vascular disease NOS,Peripheral vascular disorder,1,"[-0.13862176, 0.073461235, 0.063085355, -0.092..."

In [39]:
data_ingest['English Reported'] = data_ingest['English Reported'].str.lower()
data_ingest['English Coded LLT'] = data_ingest['English Coded LLT'].str.lower()
data_ingest['English Coded PT'] = data_ingest['English Coded PT'].str.lower()

In [45]:
data_ingest

,English Reported,English Coded LLT,English Coded PT,Count,Embeddings LLT
0,febrile neutropenia,febrile neutropenia,febrile neutropenia,1,"[0.050580744, 0.00668912, 0.032804176, 0.00746..."
1,2 hypoglycaemic attacks,hypoglycaemic attack,hypoglycaemia,1,"[-0.05460434, 0.03961894, 0.045572042, -0.0177..."
2,abdominal congenital anomaly,gastrointestinal malformation,gastrointestinal malformation,1,"[-0.053280532, 0.0020785502, -0.06407593, 0.03..."
3,abdominal pain,abdominal pain,abdominal pain,4,"[-0.080634326, 0.009931789, 0.00062995567, 0.0..."
4,abnormal liver function tests,abnormal liver function tests,liver function test abnormal,1,"[0.007857432, -0.023434445, -0.034002922, 0.04..."
...,...,...,...,...,...
329,worsening multinodular goitre,goiter nodular,goitre,1,"[-0.05443895, 0.000880772, 0.053666763, -0.028..."
330,worsening of depression,depression worsened,depression,1,"[-0.07443913, 0.022265276, -0.04519519, 0.0724..."
331,worsening of osteoarthritis left knee,knee osteoarthritis,osteoarthritis,1,"[-0.06750286, 0.03396238, 0.01371152, -0.02088..."
332,worsening of osteoarthritis of left knee,knee osteoarthritis,osteoarthritis,1,"[-0.06750286, 0.03396238, 0.01371152, -0.02088..."
333,worsening of peripheral vascular disease,peripheral vascular disease nos,peripheral vascular disorder,1,"[-0.13862176, 0.073461235, 0.063085355, -0.092..."

In [67]:
data_modify = data_terms[['English Reported', 'English Coded LLT','English Coded PT']].iloc[501:700,:]
data_modify['English Reported'] = data_modify['English Reported'].str.lower()
data_modify['English Coded LLT'] = data_modify['English Coded LLT'].str.lower()
data_modify['English Coded PT'] = data_modify['English Coded PT'].str.lower()
data_modify = data_modify.groupby(data_modify.columns.tolist(), as_index=False).size()
data_modify.rename(columns = {"size":"Count"}, inplace = True)
#data_modify = data_ingest.copy().drop(['Embeddings LLT'], axis=1)
# data_modify.to_csv("opensearch_data.csv", index=False)

In [68]:
data_modify

,English Reported,English Coded LLT,English Coded PT,Count
0,abdominal cramping,abdominal cramp,abdominal pain,1
1,abdominal pain,abdominal pain,abdominal pain,4
2,abnormal liver function tests,abnormal liver function tests,liver function test abnormal,1
3,acute liver failure,acute liver failure,acute hepatic failure,1
4,acute mesenteric infarct,infarction mesenteric,intestinal infarction,1
...,...,...,...,...
123,ventricular tachycardia,ventricular tachycardia,ventricular tachycardia,1
124,viral illness,viral infection,viral infection,2
125,vomiting,vomiting,vomiting,7
126,weight gain,weight gain,weight increased,1
127,worsening of ascites,ascites,ascites,1

In [346]:
s = t.time()
for ind, row in data_ingest.iterrows():
    doc = row.to_dict()
    client.index(index=index_name, body=doc)
print(t.time()-s)

2.510019540786743

In [347]:
res = client.search(index="test", body={"query": {"match_all": {}}})
print("Records found: %d." % res['hits']['total']['value'])

Records found: 334.

In [337]:
# from numpy import dot
# from numpy.linalg import norm

# cos_sim = dot(embds_obj, emb)/(norm(embds_obj)*norm(emb))
# cos_sim

In [ ]:
# sum(lst)/100
# sum(lst)

In [ ]:
# query = embedding("GU pain")

In [ ]:
# match = ["pain", "pain ankle", "pain wrist", "gestric ulcer pain", "genito urinary pain"]

In [ ]:
# lst = []
# for mat in match:
#     emb = embedding(mat)
#     cos_sim = dot(query, emb)/(norm(query)*norm(emb))
#     lst.append(cos_sim)

In [ ]:
# lst

In [131]:
index = 'test'

In [342]:
def kickback(data):
    term = data['English Reported']
    lt_code = data['English Coded LLT']
    pt_code = data['English Coded PT']
    cnt = data['Count']
    query = {
          "query": {
            "bool": {
              "must": [
                {
                    "multi_match":{
                    "query": term,
                    "type": "phrase",
                    "fields": ['English Reported']
                }
                },
                {
                    "multi_match":{
                    "query": lt_code,
                    "type": "phrase",
                    "fields": ['English Coded LLT']
                    }
                }
              ]
            }
          }
    }

    res = client.search(index = index, body = query)
    hits = res.get('hits',{}).get('hits',[])  
    if res['hits']['total']['value'] > 0:
        print("Updating count")
        for doc in hits:
            id = doc['_id']
            count = doc['_source']['Count']
            count+=cnt
            document = {"Count": count}
            body = {"doc": document}
            res = client.update(index = index, id=id, body = body)
            # print(res)
    else:
        print("New index created")
        vec = embedding(term)
        body = {
            "English Reported" : term,
            "English Coded LLT": lt_code,
            "English Coded PT":  pt_code,
            "Count": 1,
            "Embeddings LLT": vec
        }
        res = client.index(index=index, body=body)
    return res

In [134]:
data_temp = data_injest.sample(frac = 0.4).drop(['Embeddings LLT'], axis=1)

In [71]:
data_modify = pd.concat([data_modify, data_temp], axis=0).sample(frac=1)

In [72]:
data_modify

,English Reported,English Coded LLT,English Coded PT,Count
275,severe septic arthritis of knee,septic arthritis,arthritis bacterial,1
121,unstable insulin dependant diabetes,insulin dependent diabetic,type 1 diabetes mellitus,1
185,malaise,malaise,malaise,2
43,faecal impaction,faecal impaction,faecaloma,1
32,disease progression,disease progression nos,disease progression,7
...,...,...,...,...
64,coagulation decreased,coagulation disorder,coagulopathy,1
7,anemia,anemia,anaemia,2
27,ascending thrombophlebitis,thrombophlebitis,thrombophlebitis,1
10,acute myocardial infarction,acute myocardial infarction,acute myocardial infarction,1
108,radiation recall,radiation recall syndrome,recall phenomenon,1

In [ ]:
# data.to_csv("testing_autocoding_data.csv")

In [118]:
data_injest[data_injest['English Reported'].str.contains("acute")]

,English Reported,English Coded LLT,English Coded PT,Count,Embeddings LLT
6,acute confusional state,acute confusional state,confusional state,1,"[-0.027167708, -0.055746723, 0.020993227, -0.0..."
7,acute dystonic reaction,dystonic reaction,dystonia,1,"[0.009140556, 0.03248003, -0.007543177, 0.0121..."
8,acute hypercapneic respiratory failure,acute respiratory failure,acute respiratory failure,3,"[0.01714558, -0.028666684, -0.01270043, 0.0248..."
9,acute lymphoblastic leukaemia (all),acute lymphoblastic leukaemia,acute lymphocytic leukaemia,1,"[-0.013044879, 0.08065996, 0.00446956, -0.0484..."
10,acute myocardial infarction,acute myocardial infarction,acute myocardial infarction,1,"[-0.09468358, 0.040403772, 0.031629216, 0.0104..."
11,acute right main cerebral artery infarct,middle cerebral artery infarct,cerebral infarction,1,"[-0.035610575, 0.009216854, 0.031211622, 0.003..."
22,anterior acute myocardial infarction,"acute myocardial infarction, of other anterior...",acute myocardial infarction,1,"[-0.058861822, 0.10354008, 0.012233331, 0.0235..."

In [86]:
data_injest[data_injest['English Reported']=='worsening of ascites']

Empty DataFrame
Columns: [English Reported, English Coded LLT, English Coded PT, Count, Embeddings LLT]
Index: []

In [123]:
x = data_modify[data_modify['English Reported'] == 'worsening of ascites']

In [124]:
data = pd.concat([data, x], axis=0)

In [338]:
data = data.drop_duplicates()
data

,English Reported,English Coded LLT,English Coded PT,Count
43,faecal impaction,faecal impaction,faecaloma,1
20,anemia,anemia,anaemia,2
275,severe septic arthritis of knee,septic arthritis,arthritis bacterial,1
3,acute liver failure,acute liver failure,acute hepatic failure,1
127,worsening of ascites,ascites,ascites,1

In [348]:
output = data.apply(kickback, axis=1)

New index created
Updating count
Updating count
New index created
New index created

In [ ]:
# from ast import literal_eval
# df['Embeddings LLT'] = df['Embeddings LLT'].apply(literal_eval)